html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    text-align: center;
}

#grid-container {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-flow: column wrap;
}
.gridSquare {
    flex: 1;
    border: 1px solid black;
    color: white;
    min-width: 25px;
    min-height: 25px;    
}

